* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}


.logo-img {
    max-height: 72px!important;
    padding: 15px 0!important;
}

.map {
    flex-grow: 1;
    width: 100%;
}

.map-legend {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 400px;
  height: 60px;
}
.map-legend img {
  width: 400px;
  opacity: 70%;
}

.layer-switch-menu {
  position: absolute;
  left: 40%;
  bottom: 1%;
  height: 100px;
  width: 300px;
  text-align: center;
}

#raster-name {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
}